<!DOCTYPE html>
<html lang="en">
    <%- include('header') %>
<body style="background: lightgray">

    <%- include('navigasi', { page: initialRoute  }) %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert"><%- messages.success %></div>
                <% } %>
                
                <% if (messages.error) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>

                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <% if (actions.add) { %>
                            <a href="<%= actions.route %>/create" class="btn btn-md btn-success mb-3">TAMBAH</a>
                        <% } %>
                        <%- include('table/index', { data: data, headers: headers, actions : actions }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>

</body>
</html>