<!DOCTYPE html>
<html lang="en">
<%- include('header') %>
<body style="background: lightgray">
    <%- include('navigasi', { page: initialRoute  }) %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="/quiz" class="list-group-item list-group-item-action <%= (initialRoute === 'quiz') ? 'active' : '' %>">
                      Quiz
                    </a>
                    <a href="/quiz_history" class="list-group-item list-group-item-action <%= (initialRoute === 'quiz_history') ? 'active' : '' %>">History</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <% if (messages.success) { %>
                            <div class="alert alert-success" role="alert"><%- messages.success %></div>
                        <% } %>
                        
                        <% if (messages.error) { %>
                            <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                        <% } %>
                    <%- include('table/index', { data: data, headers: headers, actions : actions }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    </script>

</body>
</html>